<app-header></app-header>

<div class="grid-container">
  <div class="grid-item1"></div>
  <div class="grid-item2">
    <form style="width:100%; height:30px;">
      <input #searchInput name="searchInput" type="text" placeholder="Search books by author" style="width: 93.8%; height:100%;">
      <button (click)="getFromAuthor(searchInput.value)" type="submit" style="height:100%;width:6.2%;"><i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
    <div class="tablecontainer" style="background-color:white;">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Author</th>
            <th>Available</th>
            <th>Release Date</th>
            <button class="tablebutton" (click)="getAllBooks()"><i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
          </tr>
        </thead>
  
        <tbody *ngFor="let book of bookList" (click)="getBook(book.id)">
          <tr class="hoverabletd">
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.available}}</td>
            <td>{{book.releaseDate.split("T")[0]}}</td>
            <button (click)="deleteBook(book.id)" class="tablebutton deletebutton"><i class="fa-solid fa-trash-can"></i></button>
          </tr>
        </tbody>
      </table>
    </div>

    <br>

    <div class="errorMessages" *ngFor="let error of errorList">
      <p>{{error}}</p>
    </div>

    <div class="updatecontainer">
      <div class="updateform">
        <form #form="ngForm" (ngSubmit)="updateBook(bookObject.id, bookObject)">
          <p>id</p>
          <input [(ngModel)]="bookObject.id" name="bookUpdateId">
          <p>Name</p>
          <input [(ngModel)]="bookObject.name" name="name">
          <p>Author</p>
          <input [(ngModel)]="bookObject.author" name="author">
          <p>Available</p>
          <input [(ngModel)]="bookObject.available" name="available" type="checkbox">
          <p>ReleaseDate</p>
          <input [(ngModel)]="bookObject.releaseDate" type="date" name="releaseDate">
          <br>
          <button type="button" (click)="createBook(bookObject)">Create</button>
          <button type="submit">Edit</button>
        </form>
      </div>
      <div class="updatepreview">

      </div>
    </div>

  </div>

  

  <div class="grid-item3"></div>
</div>

